service:
  # Your project name
  name: sls-typescript-boilerplate
  # Here you can configure your serverless app credentials
  # app: my app name
  # org: my org on serverless

configValidationMode: warn
frameworkVersion: 2
custom:
  webpack:
    webpackConfig: webpack.config.js
    includeModules: true

plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs12.x
  apiGateway:
    minimumCompressionSize: 1024
  environment:
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1

functions:
  hello:
    handler: src/hello/handler.hello
    events:
      - http: 
          method: any
          path: hello
      
